<div id="menu" class="well">
  <div id="nav-bar" class="row">
    <div class="col-md-6 col-md-offset-1">
      <ul class="nav nav-pills">
        <li
          data-toggle="collapse" data-target="#library"
          (click)="setActiveTab(0)" [ngClass]="{'active' : isActiveMenuSection[0]}"
        >
          <a href="#">
            <i class="glyphicon glyphicon-music"></i>
            Library
          </a>
        </li>
        <li
          class="border" data-toggle="collapse" data-target="#edit"
          (click)="setActiveTab(1)" [ngClass]="{'active' : isActiveMenuSection[1]}"
        >
          <a href="#">
            <i class="glyphicon glyphicon-pencil"></i>
            Edit
          </a>
        </li>
        <li
          data-toggle="collapse" data-target="#upload"
          (click)="setActiveTab(2)" [ngClass]="{'active' : isActiveMenuSection[2]}"
        >
          <a href="#">
            <i class="glyphicon glyphicon-cloud-upload"></i>
            Upload
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div id="library" class="collapse" *ngIf="isActiveMenuSection[0]">
    <app-library
      [selection]="selection"
      (setPlaylist)="setPlaylist($event)" (getSelection)="getSelection($event)"
      (exitMenu)="exitMenu()"
    >
      Loading Library Component...
    </app-library>
  </div>
  <div id="edit" class="collapse" *ngIf="isActiveMenuSection[1]">
    <app-edit [selection]="selection" (exitMenu)="exitMenu()">
      Loading Edit Component...
    </app-edit>
  </div>
  <div id="upload" class="collapse" *ngIf="isActiveMenuSection[2]">
    <app-upload (exitMenu)="exitMenu()">
      Loading Upload Component...
    </app-upload>
  </div>
</div>
<div *ngIf="isPlayerLoaded">
  <app-player
    [playlist]="playlist" [selection]="selection"
    (getSelection)="getSelection($event)"
  >
    Loading Player Component...
  </app-player>
</div>
