<div id="menu" class="well">
  <div id="nav-bar" class="row">
    <div class="col-md-6 col-md-offset-1">
      <ul class="nav nav-pills">
        <li data-toggle="collapse" data-target="#library"
        (click)="setActiveTab(0)" [ngClass]="{'active' : isActiveMenuSection[0]}">
          <a href="#">
            <i class="glyphicon glyphicon-music"></i>
            Library
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="library" class="collapse" *ngIf="isActiveMenuSection[0]">
  <app-library (playlist)="playlist($event)" (getSelection)="getSelection($event)">
    Loading Library Component...
  </app-library>
</div>
<div *ngIf="isPlayerLoaded">
  <app-player
  [playlist]="playlist" [selection]="selection" [selSongId]="selSongId"
  (getSongInfo)="getSelection($event)">
    Loading Player Component...
  </app-player>
</div>
