<br />
<div class="extra-padding text-list text-center-vertical" *ngIf="!isUploading">
  <div class="row text-list">
    <div class="col-md-3 col-md-offset-1">
      <div class="text-list-title">Artist</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="artistSelect"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" [disabled]="isNewArtist">
          {{artistSelected != null ? artistSelected.name : 'Select an Artist'}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="artistSelect">
          <li *ngFor="let artist of artists"><a href="#" (click)="setArtist(artist)">{{artist.name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <form class="form-horizontal">
    <div class="form-group">
      <div class="col-md-4 col-md-offset-1">
        <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" aria-label="addArtistCheckbox" name="isNewArtist" [(ngModel)]="isNewArtist">
            &nbsp;Add
          </span>
          <input type="text" class="form-control" aria-label="addArtistTextbox" name="newArtistName"
          [(ngModel)]="newArtistName" [disabled]="!isNewArtist">
        </div>
      </div>
    </div>
  </form>
  <div *ngIf="(!isNewArtist && artistSelected != undefined) || (isNewArtist && newArtistName != undefined && newArtistName.length > 0)">
    <div class="row text-list">
      <div class="col-md-3 col-md-offset-1">
        <div class="text-list-title">Album</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="artistSelect"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" [disabled]="isNewArtist || isNewAlbum">
            {{albumSelected != null ? albumSelected.name : 'Select an Album'}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="artistSelect">
            <li *ngFor="let album of albums"><a href="#" (click)="setAlbum(album)">{{album.name}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-4 col-md-offset-1">
          <div class="input-group">
            <span class="input-group-addon">
              <input type="checkbox" aria-label="addAlbumCheckbox" name="isNewAlbum" [(ngModel)]="isNewAlbum">
              &nbsp;Add
            </span>
            <input type="text" class="form-control" aria-label="addAlbumTextbox" name="newAlbumName"
            [(ngModel)]="newAlbumName" [disabled]="!isNewAlbum">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="(!isNewAlbum && albumSelected != undefined) || (isNewAlbum && newAlbumName != undefined && newAlbumName.length > 0)">
    <div class="row text-list">
      <div class="col-md-3 col-md-offset-1">
        <div class="text-list-title">Song</div>
      </div>
    </div>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-4 col-md-offset-1">
          <div class="input-group">
            <span class="input-group-addon">Track #</span>
            <input type="number" min="0" class="form-control input-sm" name="newSongYear" [(ngModel)]="newSongTrackNumber">
          </div>
        </div>
      </div>
    </form>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-4 col-md-offset-1">
          <div class="input-group">
            <span class="input-group-addon">Name</span>
            <input type="text" class="form-control input-sm" name="newSongYear" [(ngModel)]="newSongName">
          </div>
        </div>
      </div>
    </form>
    <form class="form-horizontal">
      <div class="form-group">
        <div class="col-md-4 col-md-offset-1">
          <div class="input-group">
            <span class="input-group-addon">Year</span>
            <input type="text" class="form-control input-sm" name="newSongYear" [(ngModel)]="newSongYear">
          </div>
        </div>
      </div>
    </form>
  </div>
  <div *ngIf="newSongTrackNumber != undefined && newSongTrackNumber > 0
    && newSongName != undefined && newSongName.length > 0
    && newSongYear != undefined && newSongYear.length > 0">
    <div class="row text-list">
      <div class="col-md-3 col-md-offset-1">
        <div class="text-list-title">Files</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-1">
        Artwork:
      </div>
      <div class="col-md-4">
        <input type="file" name="artwork" placeholder="Upload Artwork" accept="image/*" (change)="setArtworkFile($event.target.files)">
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 col-md-offset-1">
        Song:
      </div>
      <div class="col-md-4">
        <input type="file" name="song" placeholder="Upload Song" accept=".mp3" (change)="setSongFile($event.target.files)">
      </div>
    </div>
  </div>
  <div *ngIf="artworkFile != null && songFile != null">
    <div class="row">
      <div class="col-md-1 col-md-offset-1">
        <button class="btn btn-success btn-md" (click)="upload()">Upload</button>
      </div>
    </div>
    <br />
  </div>
</div>
<div id="progress-bar" *ngIf="isUploading">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" [attr.aria-valuenow]="currProgress"
        aria-valuemin="0" [attr.aria-valuemax]="maxProgress" [ngStyle]="{width: currProgress / maxProgress | percent: '1.0-1'}">
          {{currProgress}} / {{maxProgress}} Files
        </div>
      </div>
    </div>
    <div class="col-md-2" *ngIf="isUploading && currProgress == 0">
      <p>Connecting...</p>
    </div>
    <div class="col-md-2" *ngIf="isUploading && currProgress > 0 && currProgress < maxProgress">
      <p>Uploading...</p>
    </div>
    <div class="col-md-2" *ngIf="isUploading && currProgress == maxProgress">
      <p>Upload complete!</p>
    </div>
  </div>
</div>
