@media(max-width: 991px) {
  #progress-bar p {
    text-align: center;
  }
}

input[type="file"] {
  font-size: 11pt;
  line-height: 0ex;
}

#progress-bar .progress {
  background: #B5B5B5;
}

li.active > a:enabled {
  border-bottom: 2px solid Crimson;
  color: Gray;
  background-color: transparent;
}

li > a:hover,
li > a:focus {
  background-color: transparent;
}

.fill-width {
  width: 100%;
}

.dropdown-edit {
  margin-bottom: 10px;
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-edit {
  margin-bottom: 10px;
  width: 100%;
}
