<hr />
<div *ngIf="artists == undefined">
  <div class="row text-list">
    <div class="col-md-3 col-md-offset-1">
      <p>Loading...</p>
    </div>
  </div>
</div>
<div *ngIf="artists != undefined && artists.length > 0">
  <div class="extra-padding text-list text-center-vertical">
    <div class="row">
      <div class="col-md-5 col-md-offset-1">
        <ul class="nav nav-pills">
          <li data-toggle="tab" [attr.active]="isActiveEditSection[0]" (click)="setActiveTab(0)" class="active"><a href="#">Edit Artist</a></li>
          <li data-toggle="tab" [attr.active]="isActiveEditSection[1]" (click)="setActiveTab(1)"><a href="#">Edit Album</a></li>
          <li data-toggle="tab" [attr.active]="isActiveEditSection[2]" (click)="setActiveTab(2)"><a href="#">Edit Song</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-1">
        <span *ngIf="isActiveEditSection[0] || isActiveEditSection[1] || isActiveEditSection[2]">
          <div class="dropdown dropdown-width">
            <button class="btn btn-default dropdown-toggle dropdown-edit" type="button" id="artistEdit"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{artistSelected != null ? artistSelected.name : 'Select an Artist'}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="artistEdit">
              <li *ngFor="let artist of artists"><a href="#" (click)="setArtist(artist)">{{artist.name}}</a></li>
            </ul>
          </div>
        </span>
      </div>
      <div class="col-md-3">
        <span *ngIf="isActiveEditSection[1] || isActiveEditSection[2]">
          <div class="dropdown dropdown-width">
            <button class="btn btn-default dropdown-toggle dropdown-edit" type="button" id="albumEdit"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{albumSelected != null ? albumSelected.name : 'Select an Album'}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="albumEdit">
              <li *ngFor="let album of albums"><a href="#" (click)="setAlbum(album)">{{album.name}}</a></li>
            </ul>
          </div>
        </span>
      </div>
      <div class="col-md-3">
        <span *ngIf="isActiveEditSection[2]">
          <div class="dropdown dropdown-width">
            <button class="btn btn-default dropdown-toggle dropdown-edit" type="button" id="songEdit"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              {{songSelected != null ? songSelected.name : 'Select a Song'}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="songEdit">
              <li *ngFor="let song of songs"><a href="#" (click)="setSong(song)">{{song.name}}</a></li>
            </ul>
          </div>
        </span>
      </div>
    </div>
    <div *ngIf="isActiveEditSection[0] && artistSelected != null">
      <hr />
      <div class="row">
        <div class="col-md-1 col-md-offset-1">
          Name:
        </div>
        <div class="col-md-5">
          <input type="text" class="form-control input-md" [(ngModel)]="artistEdited.name">
        </div>
      </div>
    </div>
    <div *ngIf="isActiveEditSection[1] && artistSelected != null && albumSelected != null">
      <hr />
      <div class="row">
        <div class="col-md-1 col-md-offset-1">
          Name:
        </div>
        <div class="col-md-5">
          <input type="text" class="form-control input-md" [(ngModel)]="albumEdited.name">
        </div>
      </div>
    </div>
    <div *ngIf="isActiveEditSection[2] && artistSelected != null && albumSelected != null && songSelected != null">
      <hr />
      <div class="row">
        <div class="col-md-1 col-md-offset-1">
          #:
        </div>
        <div class="col-md-5">
          <input type="number" min="0" class="form-control input-md" [(ngModel)]="songEdited.trackNumber">
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-md-offset-1">
          Name:
        </div>
        <div class="col-md-5">
          <input type="text" class="form-control input-md" [(ngModel)]="songEdited.name">
        </div>
      </div>
      <div class="row">
        <div class="col-md-1 col-md-offset-1">
          Year:
        </div>
        <div class="col-md-5">
          <input type="text" class="form-control input-md" [(ngModel)]="songEdited.year">
        </div>
      </div>
    </div>
    <div *ngIf="isActiveEditSection[0] && artistSelected != null">
      <div class="row">
        <div class="col-md-1 col-md-offset-1"></div>
        <div class="col-md-5 col-right-align">
          <button type="button" class="btn btn-success btn-sm" [disabled]="isProdEnv || (artistEdited != null && artistEdited.name.length == 0)" (click)="updateArtist()">
            Save
          </button>
          <button type="button" class="btn btn-danger btn-sm" [disabled]="isProdEnv || (artistEdited != null && artistEdited.name.length == 0)" (click)="deleteArtist()">
            Remove
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="isActiveEditSection[1] && artistSelected != null && albumSelected != null">
      <div class="row">
        <div class="col-md-1 col-md-offset-1"></div>
        <div class="col-md-5 col-right-align">
          <button type="button" class="btn btn-success btn-sm" [disabled]="isProdEnv || (albumEdited != null && albumEdited.name.length == 0)" (click)="updateAlbum()">
            Save
          </button>
          <button type="button" class="btn btn-danger btn-sm" [disabled]="isProdEnv || (albumEdited != null && albumEdited.name.length == 0)" (click)="deleteAlbum()">
            Remove
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="isActiveEditSection[2] && artistSelected != null && albumSelected != null && songSelected != null">
      <div class="row">
        <div class="col-md-1 col-md-offset-1"></div>
        <div class="col-md-5 col-right-align">
          <button type="button" class="btn btn-success btn-sm" (click)="updateSong()"
            [disabled]="isProdEnv || (songEdited != null && songEdited.id.length == 0 || songEdited.name.length == 0 || songEdited.year.length == 0)"
          >
            Save
          </button>
          <button type="button" class="btn btn-danger btn-sm" (click)="deleteSong()"
            [disabled]="isProdEnv || (songEdited != null && songEdited.id.length == 0 || songEdited.name.length == 0 || songEdited.year.length == 0)"
          >
            Remove
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
