.dropdown-width {
  width: 100%;
}

.dropdown-edit {
  margin-top: 10px;
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li.active > a:enabled {
  border-bottom: 2px solid Crimson;
  color: Gray;
  background-color: transparent;
}

li > a:hover,
li > a:focus {
  background-color: transparent;
}

.col-right-align {
  text-align: right;
}
